# ETL

### Cargo el dataset correspondiente desde la carpeta /sources para posteriormente analizarlo, limpiarlo y guardarlo en la carpeta /Data

In [1]:
# Importamos las librerias que vamos a utilizar
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Acceso a el cvs y se pasa a un dataframe 
df_energy = pd.read_csv('sources/energy.csv')

In [3]:
# Visualización de manera general
df_energy.head(2)

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188

In [4]:
# Eliminar valores con na
df_energy = df_energy.dropna()

In [5]:
#  Llena los valores faltantes en la columna "Energy_consumption" del DataFrame df_energy con la media de los valores no nulos de esa misma columna
df_energy['Energy_consumption'].fillna(df_energy['Energy_consumption'].mean(), inplace=True)

In [6]:
# Toma solo a Estados Unidos como pais principal donde incluido NYC estan otros estados
df_energy = df_energy[df_energy['Country'] == 'United States']

In [7]:
#  Eliminación de columnas no necesarias
df_energy = df_energy.drop(columns=['Unnamed: 0','Energy_production', 'GDP', 'Population', 'Energy_intensity_per_capita','Energy_intensity_by_GDP'])

In [8]:
df_energy = df_energy.reset_index(drop=True)

In [9]:
# Visualización de manera general
df_energy.head()

,Country,Energy_type,Year,Energy_consumption,CO2_emission
0,United States,all_energy_types,1980,78.021113,4946.627130
1,United States,coal,1980,15.422809,1409.790188
2,United States,natural_gas,1980,20.235459,1081.593377
3,United States,petroleum_n_other_liquids,1980,34.158965,2455.243565
4,United States,nuclear,1980,2.739169,0.000000

In [10]:
# Se analisa la informacion y estadisticas del nuevo dataset ya limpio con sus datos filtrados
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             240 non-null    object
 1   Energy_type         240 non-null    object
 2   Year                240 non-null    int64
 3   Energy_consumption  240 non-null    float64
 4   CO2_emission        240 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 9.5+ KB

In [11]:
# Estadisticas del Dataframe
summary_stats = df_energy.describe()
print(summary_stats)

              Year  Energy_consumption  CO2_emission
count   240.000000          240.000000    240.000000
mean   1999.500000           30.382893   1763.365550
std      11.567521           29.217416   1812.923064
min    1980.000000            2.739169      0.000000
25%    1989.750000            8.268239      0.000000
50%    1999.500000           20.917941   1443.310385
75%    2009.250000           35.778914   2273.854313
max    2019.000000          101.203413   6015.537927

In [15]:
# Guarda el dataframe en la carpeta Data
df_energy.to_csv('./Data/energy_clean.csv', index= False)